body, html {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
}

.power-button, 
.button-A, 
.button-B, 
.button-top,
.button-right,
.button-bottom,
.button-left,
.button-select,
.button-start {
  cursor: pointer;
}

.container {
  background: #6951EE;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 570px;
  margin: 5em auto;
  border-radius: 32px 32px 0 0;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  transition: 0.5s all;
  z-index: 3;
}

.container:hover {}

.shadow-detail {
  position: absolute;
  align-self: center;
  width: 210px;
  height: 310px;
  bottom: 7%;
  border-radius: 0 0 32px 32px;
  background: linear-gradient(to right, #826AFF, #826AFF, #755DFA, #755DFA);
  z-index: -1;
}

.power-button {
  background: #000;
  position: absolute;
  top: 64px;
  right: -8px;
  width: 8px;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 0 8px 8px 0;
  transition: 0.2s all;
  /* z-index: -1; */
}

.power-slide {
  background: #000;
  position: absolute;
  top: 50px;
  right: -8px;
  width: 8px;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 0 8px 8px 0;
  transition: 0.2s all;
}



.screen-border {
  background: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: -webkit-fill-available;
  max-height: 250px;
  padding: 8px 8px 0 8px;
  margin: 32px auto 0 auto;
  border-radius: 8px 8px 16px 16px;
}

.border-curve {
  background: #000;
  position: absolute;
  right: 0;
  bottom: -9px;
  width: 100%;
  height: 40px;
  border-radius: 0 0  40% 40%;
}

.screen {
  background: #c1d6a7;
  position: relative;
  align-self: center;
  width: 70%;
  height: 70%;
  margin: auto;
  overflow: hidden;
  transition: 0.9s all;
}

.screen-on {
  background: #fff;
  position: relative;
  width: 70%;
  height: 70%;
  overflow: hidden;
  transition: 0.9s all;
}

.screen-text {
  font-weight: bold;
}

.screen-logo {
  font-family: 'Krona One', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: #d9d9d9;
  margin: 16px auto;
  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.5); /* Firefox */
  -ms-transform:scale(1,1.5); /* IE 9 */
  -o-transform:scale(1,1.5); /* Opera */
  transform:scale(1,1.5); /* W3C */
  z-index: 1;
}

.glass-effect {
  background: #fff;
  position: absolute;
  top: 0;
  right: 16px;
  width: 500px;
  height:130px;
  transform: rotate(-30deg);
  opacity: 0.5;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -webkit-fill-available;
}

.buttons-AB {
  background: transparent;
  display: flex;
  width: 100px;
  height: 60px;
  margin: 80px 32px 16px 0;
}

.button-A, .button-B {
  background: #3b4252;
  color: #2f2f31;
  font-weight: bold;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 24px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  outline: none;
  transition: 0.2s all;
}

.button-A:active, .button-B:active {
  font-size: 18px;
}

.button-B {
  margin: 16px 8px 0 0;
}

.button-A {
  margin: 0 0 16px 8px;
}

.button-A:active, .button-B:active {
  box-shadow: none;
}

.buttons-directions {
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 64px 0 16px 32px;
}

.button-top, 
.button-right, 
.button-bottom, 
.button-left, 
.center-joint {
  background: #3b4252;
  position: absolute;
}

.button-top {
  top: 8px;
  width: 24px;
  height: 32px;
  border-radius: 8px 8px 0 0;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.button-right {
  right: 8px;
  width: 32px;
  height: 24px;
  border-radius: 0 8px 8px 0;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.button-bottom {
  bottom: 8px;
  width: 24px;
  height: 32px;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.button-left {
  left: 8px;
  width: 32px;
  height: 24px;
  border-radius: 8px 0 0 8px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.arrow-top,
.arrow-right,
.arrow-bottom,
.arrow-left {
  width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #555;
}

.arrow-top {
  margin: 4px auto;
}

.arrow-right {
  margin: 4px 4px 4px auto;
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -moz-transform:rotate(90deg); /* Firefox */
  -ms-transform:rotate(90deg); /* IE 9 */
  -o-transform:rotate(90deg); /* Opera */
  transform:rotate(90deg); /* W3C */
}

.arrow-bottom {
  margin: 12px 4px auto 4px;
  -webkit-transform:rotate(180deg); /* Safari and Chrome */
  -moz-transform:rotate(180deg); /* Firefox */
  -ms-transform:rotate(180deg); /* IE 9 */
  -o-transform:rotate(180deg); /* Opera */
  transform:rotate(180deg); /* W3C */
}

.arrow-left {
  margin: 4px auto 4px 4px;
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -moz-transform:rotate(-90deg); /* Firefox */
  -ms-transform:rotate(-90deg); /* IE 9 */
  -o-transform:rotate(-90deg); /* Opera */
  transform:rotate(-90deg); /* W3C */
}

.center-joint {
  width: 24px;
  height: 24px;
}

.button-top:active, 
.button-right:active, 
.button-bottom:active,
.button-left:active {
  box-shadow: none;
}

.buttons-menu {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 40px;
  margin: 0px auto 72px auto;
}

.button-start, 
.button-select {
  background: #3b4252;
  width: 40px;
  height: 8px;
  margin: 40px 0 0 0;
  border-radius: 8px;
  /* transform: rotate(-35deg); */
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.audio-output {
  /* background: #cc4; */
  position: absolute;
  bottom: -10px;
  right: 16px;
  width: 80px;
  height: 80px;
  transform: skewY(-8deg);
  z-index: 1;
}

.outputs-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.vertical-outputs {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

/* .horizontal-outputs {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  width: 100%;
  height: 90%;
} */

.top-24{
  top: 24px;
}

.top-48{
  top: 48px;
}

.top-72 {
  top: 72px;
}

.output {
  background:#000;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.footer {
  background: #6951EE;
  position: absolute;
  bottom: -36px;
  width: 100%;
  height: 70px;
  border-radius: 50%;
  box-shadow: 1px 6px 5px -4px rgba(0, 0, 0, 0.3);
}
